.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-display-container{position:relative}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-left-bas{position:absolute;top:80%;left:0%;transform:translate(0%,-80%);-ms-transform:translate(-0%,-80%)}
.w3-display-left-moinsbas{position:absolute;top:60%;left:0%;transform:translate(0%,-60%);-ms-transform:translate(-0%,-60%)}
.w3-display-left-moinshaut{position:absolute;top:60%;left:0%;transform:translate(0%,-40%);-ms-transform:translate(-0%,-40%)}
.w3-display-left-haut{position:absolute;top:60%;left:0%;transform:translate(0%,-20%);-ms-transform:translate(-0%,-20%)}
.w3-display-left-treshaut{position:absolute;top:60%;left:0%;transform:translate(0%,-7%);-ms-transform:translate(-0%,-7%)}
.w3-wide{letter-spacing:4px}
.w3-image{max-width:100%;height:auto}
.w3-long-image{width:auto;max-height:100%}
.w3-padding-large{padding:12px 24px!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-jumbo{font-size:64px!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-hide-small{display:none!important}
w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-top,.w3-bottom{position:fixed;width:100%;z-index:1}
.w3-top{top:0}
.w3-bottom{bottom:0}

#navbar { overflow: hidden; background-color:#FAFAEE;}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {  position: fixed;
  top: 0;
  width: 100%;}

.sticky + .innercontent {
  padding-top: 110px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.w3-cell-row-gray{display:table;width:100%; background-color:#7575a3;padding:0pt;}
.w3-cell-row-lessgray{display:table;width:100%; background-color:#EEEEFF;}
.w3-cell-padded{display:table-cell; padding:5pt;}
.w3-cell{display:table-cell; padding:0pt;}
.w3-cell-top{vertical-align:top}
.w3-cell-middle{vertical-align:middle}
.w3-cell-bottom{vertical-align:bottom}

img.nopadding{padding:0pt;}

h1,h2,h3,h4,h5,h6 {font-family: "Oswald";}
body {font-family: "Open Sans";}

 
