a.dontmention { color:black; }

div li:hover{
    padding:4px 4px 4px 4px;
    margin:6px 6px 6px 6px;
    font-variant:small-caps ;
    background-color:#f9f8c2;
    border-style: ridge;
    border-color: blue;
    border-width: 2px;
}

.bgimg {
   /* background-image: url(sti-fond-3.png);*/
   /*   background-image: url(bali-2.png);*/
    background-image: url(sti-fond-2.png);
}
/*----------------------------------------*/

div.education {
  background-color:#f0f0f0;
    padding:3px 6px 2px 6px;
  margin-left:6px;
  margin-right:6px;
  background-image: url(Fond-8.png);
}

div.education:hover{
    background-color:#ffdab9; 
    padding-left:7px;
    padding-right:7px;
    margin-left:4px;
    margin-right:4px;
    border: 1px solid black; }

/*----------------------------------------*/

div.employment {
  background-color:#f0f0f0;
    padding:3px 6px 2px 6px;
  margin-left:6px;
  margin-right:6px;
  background-image: url(Fond-8.png);
}

div.employment:hover{
    background-color:#ffdab9; 
    padding-left:6px;
    padding-right:6px;
    margin-left:4px;
    margin-right:4px;
    border: 1px solid black; }

/*----------------------------------------*/

div.interest {
  background-color:#f0f0f0;
    padding:3px 6px 2px 6px;
  margin-left:6px;
  margin-right:6px;
  background-image: url(Fond-8.png);
}

div.interest:hover{
    background-color:#ffdab9; 
    padding-left:6px;
    padding-right:6px;
    margin-left:4px;
    margin-right:4px;
    border: 1px solid black; }

/*----------------------------------------*/

div.conf {
  background-color:#f0f0f0;
  margin-left:6px;
  margin-right:6px;
    padding:3px 6px 2px 6px;
  background-image: url(Fond-8.png);
}

div.conf:hover{
    background-color:#ffdab9; 
    padding:3px 6px 2px 6px;
    padding-left:6px;
    padding-right:6px;
    margin-left:4px;
    margin-right:4px;
    border: 1px solid black; }

/*----------------------------------------*/

div.publications {
  background-color:#f0f0f0;
    padding:3px 6px 2px 6px;
  margin-left:6px;
  margin-right:6px;
  background-image: url(Fond-4.png);
}

div.publications:hover{
    padding:2px 2px 2px 2px;
    margin:6px 6px 6px 6px;
    background-image: url(Fond-9.png);
}

div.publications span.author{
    font-variant:small-caps;
    }
div.publications:hover span.author{
    font-variant:small-caps;
    }
div.publications li:hover span.author{
    padding-left: 5%;
    }
div.publications span.title{
    font-style:italic;
    color:#152C69;
    }
div.publications:hover span.title{
    font-style:italic;
    }
div.publications li:hover span.title{
    font-style:normal;
    display:block;
    font-size:120%;
    }
div.publications span.journal{
    font-style:italic;
    }
div.publications:hover span.journal{
    font-style:italic;
    font-size:90%;
   }
div.publications li:hover span.journal{
    padding-left: 8%;
   }
div.publications span.yr{
    font-style:normal;
    }
div.publications span.vol{
    font-style:italic;
    }
div.publications:hover span.vol{
    font-style:italic;
    font-size:90%;
    }
div.publications span.pages{
    font-variant:normal;
    }
div.publications:hover span.pages{
    font-variant:normal;
    font-size:90%;
    }

/*----------------------------------------*/

div.grants {
  background-color:#f0f0f0;
    padding:3px 6px 2px 6px;
  margin-left:6px;
  margin-right:6px;
  background-image: url(Fond-8.png);
}

div.grants:hover{
    background-color:#ffdab9; 
    padding-left:6px;
    padding-right:6px;
    margin-left:4px;
    margin-right:4px;
    border: 1px solid black; }

/*----------------------------------------*/

div.teaching {
  background-color:#f0f0f0;
    padding:3px 6px 2px 6px;
  margin-left:6px;
  margin-right:6px;
  background-image: url(Fond-8.png);
}

div.teaching:hover{
    background-color:#ffdab9; 
    padding-right:6px; padding-left:6px; padding-top:10px; padding-bottom:2px;
    margin-left:4px;
    margin-right:4px;
    border: 1px solid black; }

/*----------------------------------------*/

#MenuDroit dl { margin: 0; padding: 0; }
#MenuDroit dt { margin: 0; padding: 0; font-variant: small-caps;}
#MenuDroit dd { margin: 5px; padding: 0; }

#MenuDroit { position:fixed; right: 10px; bottom:10px; border: 1px solid black; 
             padding-right:6px; padding-left:6px; padding-top:2px; padding-bottom:0px;
             line-height:80%;
             background-color:#f9f8c2;
             font-family: "Times New Roman", Georgia, serif; }
#MenuDroit a {text-decoration: none;}

/*----------------------------------------*/

